<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Park Page</title>

	<!-- StyleSheet -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/styles.css">

</head>
<body>
	<h1>{{park.name}}</h1>
	<div class="row">
	  <div class="col-lg-12" id="bannerBox"><!-- banner to go here --></div>
	  <br>
	  <br>
	  <div class="col-lg-12" id="mapBox">
		<div id="map"></div>
	  </div>
	  <br>
	  <br>
	  <div class="col-lg-12" id="descriptionBox">
	  	<p>Year Established: {{park.yearEstablished}}</p>
	  	<p>Annual Visitors: {{park.annualVisitors}}</p>
	  	<p>Description: {{park.description}}</p>
	  </div>
	  <div class="col-lg-12" id="mediaBox"><!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/YR_Iz5ZAHzk" frameborder="0" allowfullscreen></iframe> -->
	  </div>
	  <br>
	  <br>
	  <div class="col-lg-12" id="trailBox">
	  	<p>
	  	Know of an awesome trail in {{park.name}} ?
	  	<br>
	  	<button type="button" class="btn btn-default" id="addTrailButton">Add Trail</button>
	  	</p>
	  	<p>
	  	Want to remove or modify an existing trail?
	  	<br>
	  		<button type="button" class="btn btn-default" id="deleteTrailButton">Delete Trail</button> 

	  		<button type="button" class="btn btn-default" id="updateButton">Update Trail</button> 
	  	</div>
	  	</p>
	 
	  </div>

<!-- 	Create Trail Modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="createTrailModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					 <h4 class="modal-title">Create Trail</h4>
				 </div>
				 <div class="modal-body">
           		 <fieldset class='form-horizontal'>

	           	<!-- Text input-->
	            <div class="form-group">
	              <label class="col-md-4 control-label" for="trailName">Trail Name</label>
	              <div class="col-md-4">
	              <input id="trailName" name="trailName" type="text" placeholder="" class="form-control input-md" required="">
	              </div>
	            </div>

	             <!-- Text input-->
	            <div class="form-group">
	              <label class="col-md-4 control-label" for="trailLat">Latitude</label>
	              <div class="col-md-4">
	              <input id="trailLat" name="trailLat" type="text" placeholder="" class="form-control input-md">
	              </div>
	            </div>

				  <!-- Text input-->
	            <div class="form-group">
	              <label class="col-md-4 control-label" for="trailLng">Longitude</label>
	              <div class="col-md-4">
	              <input id="trailLng" name="trailLng" type="text" placeholder="" class="form-control input-md">
	              </div>
	            </div>

	              <!-- Text input-->
	            <div class="form-group">
	              <label class="col-md-4 control-label" for="trailDescription">Description</label>
	              <div class="col-md-4">
	              <input id="trailDescription" name="trailDescription" type="text" placeholder="" class="form-control input-md">
	              </div>
	            </div>
			 </fieldset>
			</div>
		   <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" id="submitTrail">Submit</button>
	      </div>
	     </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Delete Trail Modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="deleteTrailModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					 <h4 class="modal-title">Delete Trail</h4>
				 </div>
				 <div class="modal-body">
           		 <fieldset class='form-horizontal'>

           		<!--  Dropdown of existing trails -->
           		<div class ="dropdown">
	           		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1delete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Current Trails
		           		<span class="caret"></span>
	           		</button>
	           		<ul class = "dropdown-menu" aria-labelledby="dropdownMenu1">
	           		{{#each park.trails}}
	           			<li id= "liTrailName"><a id = "{{name}}">{{name}}</a></li>
	           		{{/each}}
	           		</ul>
           		</div>

           		<!-- submit button -->
           		<br>
           		<div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary" id="deleteTrail">Delete</button>
			     </div>
				</fieldset>
				</div>
			</div><!-- /.modal-content -->
     	 </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

	<!-- update exisiting trail modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="updateModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					 <h4 class="modal-title">Update Trail</h4>
				 </div>
				 <div class="modal-body">
           		 <fieldset class='form-horizontal'>

           		 <!--  Dropdown of existing trails -->
           		<div class ="dropdown">
	           		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1update" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Current Trails
		           		<span class="caret"></span>
	           		</button>
	           		<ul class = "dropdown-menu" aria-labelledby="dropdownMenu1">
	           		{{#each park.trails}}
	           			<li id= "liTrailName"><a id = "{{name}}">{{name}}</a></li>
	           		{{/each}}
	           		</ul>
           		</div>


	           	<!-- Text input-->
	           	<br>
	            <div class="form-group">
	              <label class="col-md-4 control-label" for="trailNameU">Name</label>
	              <div class="col-md-4">
	              <input id="trailNameU" name="trailNameU" type="text" placeholder="" class="form-control input-md" required="">
	              </div>
	            </div>

	             <!-- Text input-->
	            <div class="form-group">
	              <label class="col-md-4 control-label" for="trailLatU">Latitude</label>
	              <div class="col-md-4">
	              <input id="trailLatU" name="trailLatU" type="text" placeholder="" class="form-control input-md">
	              </div>
	            </div>

				  <!-- Text input-->
	            <div class="form-group">
	              <label class="col-md-4 control-label" for="trailLng">Longitude</label>
	              <div class="col-md-4">
	              <input id="trailLngU" name="trailLngU" type="text" placeholder="" class="form-control input-md">
	              </div>
	            </div>

	              <!-- Text input-->
	            <div class="form-group">
	              <label class="col-md-4 control-label" for="trailDescriptionU">Description</label>
	              <div class="col-md-4">
	              <input id="trailDescriptionU" name="trailDescriptionU" type="text" placeholder="" class="form-control input-md">
	              </div>
	            </div>

	           	<!-- submit button -->
           		<br>
           		<div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary" id="updateTrail">Update</button>
			     </div>
				</fieldset>
				</div>
			</div><!-- /.modal-content -->
     	 </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

				

	<!-- ImportantScripts -->	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41fVSrzYimt6MV8mTm-nYwz61PyUMsL0">
	
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 
    <!-- ApplicationScripts -->
    <script src="../js/app.js"></script>
</body>
</html>